<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi a fugiat maxime harum alias placeat doloremque consectetur enim itaque provident nostrum repudiandae dignissimos asperiores assumenda neque rem, eos natus! Sapiente!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi a fugiat maxime harum alias placeat doloremque consectetur enim itaque provident nostrum repudiandae dignissimos asperiores assumenda neque rem, eos natus! Sapiente!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi a fugiat maxime harum alias placeat doloremque consectetur enim itaque provident nostrum repudiandae dignissimos asperiores assumenda neque rem, eos natus! Sapiente!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>